/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}


body {
  font-family: Verdana;
  font-size: 15px;
  line-height: 32px;
  color: #555;
  background-color: #777;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #555;
  background: #ccc;
}

nav {
  padding: 20px;
  margin-bottom: 20px;
  color: #555;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #ccc;
}

#full {
  width: 68%;
  height: 280px;
  overflow: auto;
  clear: both;
  background: #eee;
  float:left;
}

#article{
  width: 95%;
  height: 180px;
  overflow: auto;
  clear: both;
  color: #ccc;
  background: #777;
}

#h1h2h3{
  width: 80%;
  margin-left: 20px;
  padding-top: 5px;
  height: 45px;
  color: #555;
  background: #ccc;
}

#p{
  width: 80%;
  margin-left: 20px;
  padding-top: 5px;
  height: 45px;
  color: #555;
  background: #ccc;
}

aside {
  float: right;
  width: 30%;
  height: 280px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #eee;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #555;
  background: #ccc;
  clear: both;
}
